.body{
  background-color: white;
  margin: 0;
  padding: 0;
}

.top-bar{
  height: 57px;
  width: 100%;
  background-color: blueviolet;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid rgb(16, 16, 73);
}

#logo-text{
  display: block;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.top-bar a:hover{
  background-color: white;
    border-bottom: 3px solid white;
}

#logo-text:hover{
  color: blueviolet;
}

.text{
  display: block;
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  color: blueviolet;
  margin: 0;
  padding: 0;
}

#map{
height: 550px;
width: 100%;
}
